<!DOCTYPE html">
<html lang="fr">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<meta charset="utf-8" />
<title>Création d&#39;un design étape par étape - Etape n°1 : Le code xhtml</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">MY SITE</span>
        </div>
      </nav>

      
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/media/admin.PNG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Votre site d'administration</h5>
              <p class="card-text">Pour acceder au site d'administration, il est necessaire de s'authentifier avec un utilisateur qui dispose du statut Statut d'équipe activé. Afin de visualiser et créer des enregsitrement, vous aurez aussi besoin de disposer de droits de manipulation des obejts..</p>
            </div>
            <div class="card-footer">
                <a href="/admin/" class="btn btn-primary">site d'administration</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/media/mag.PNG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> MMS Shop</h5>
              <p class="card-text">Vous cherchez un site de vente en ligne en Tunisie ? Commandez sur le site de vente en ligne tunisien MMS Shop le produit de vos rêves. Pour acheter moins cher et faire des économies, profitez des ventes flash sur MMS Shop.tn ! La plate-forme vous offre la possibilité de réaliser vos achats en ligne en réalisant de très bonnes affaires.MMS Shop vous permet de vous faire livrer à domicile sur toute la Tunisie, ou retirer votre colis dans un point de retrait avec des délais de livraison courts. De plus, nous vous garantissons un paiement sécurisé et fiable avec la méthode paiement à la livraison, recevez votre colis et payez ensuite ! Achetez vos produits aux meilleurs prix, en toute sécurité tout en restant chez vous.</p>
            </div>
            <div class="card-footer">
                <a href="/magasin/" class="btn btn-primary">Magasin</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/media/libr.PNG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Biblio</h5>
              <p class="card-text">Bienvenue sur Livres pour tous! Vous aimez lire ? Vous avez envie de découvrir ou redécouvrir certains chefs d’œuvre de la littérature ? Alors ce site est fait pour vous.</br>Tous les livres peuvent être lus en ligne et vous pouvez télécharger la plupart d'entre eux directement sur votre ordinateur, liseuse, tablette ou smartphone.</p>
            </div>
            <div class="card-footer">
                <a href="/Bibliotheque/" class="btn btn-primary">Bibliotheque</a>
            </div>
          </div>
        </div>
      </div>

</body>
</html>